@import url('https://fonts.googleapis.com/css?family=Oswald:300,400,500,600,700&display=swap');
@import url('https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');
@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
  	text-decoration: none;
    outline: none;
    border: none;
    text-transform: capitalize;
	
}

/*---header---*/

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0; 
  display: flex;
  justify-content: space-between;
  padding: 0 9%;
  z-index: 10000;
  background:#000;
}

.header img {
  width:100px;
}

.header .navbar a {
  display: inline-block;
  padding: 1.5rem 2rem;
  font-size: 1.7rem;
  color: #fff;
}

.header .navbar a:hover {
  background: #f00;
  transform: translatey(5px);
	transition: transform 0.2s;
}


/*Class Schedule Section*/
.schedule{
	padding:80px 0px;
	background-color: gray;
}

.schedule .content{
	-webkit-display: flex;
	display: flex;
	
	
}

.schedule .content .box{
	flex:0 0 40%;
	max-width: 100%;
	padding:15px;
	max-width: 1300px;
	margin: auto;
	padding: 25px 25px;
}

.schedule .content .text h2{
   font-size: 30px;
    font-weight: 500;
    color: #000000;
    padding: 0px 0px 20px;
}

.schedule .content .text p{
	font-size: 15px;
    line-height: 20px;
    color: #222222;
    margin: 0;
    padding: 0px 0px 20px;
    font-family: 'Open Sans', sans-serif;
}
.schedule .content .text img{
	width: 600px;
	height: 450px;
	transform: rotateY(180deg);
}

.schedule .content .timing .table{
	width: 100%;
	border-collapse: collapse;
}

.schedule .content .timing .table td{
	border:1px solid #dfdfdf;
	padding: 20px;
	font-size: 15px;
	text-align: center;
	color:#000;
}

.schedule .content .timing .table tr:nth-child(even) td.day{
	background-color: #222222;
}
.schedule .content .timing .table tr:nth-child(odd) td.day{
	background-color: #444444;
}
.schedule .content .timing .table tr:nth-child(1) td.day{
	background-color: #c11325;
}
.schedule .content .timing .table tr td.day{
	color:#ffffff;
	border-color:transparent;
}

/*---star-footer---*/
footer{
	background:#000;
	width: 100%;
}

footer .ft{
    padding: 30px;
    max-width: 1300px;
    margin: auto;
     display: flex;
    justify-content: space-around;
    align-items: center;

}
footer .ft h3 {
	color: #fff;
	padding-bottom: 15px;
}	
footer .ft p{
	color:  #8a8a8a;
	padding-top: 10px;
}
.ft-2{
	font-weight: 400;
	width: 350px;
	text-align: center;
}
.ft-2 img{
	width: 130px;
	cursor: pointer;
}
.app-logo{
	margin-top: 20px;
	display: flex;
	column-gap: 5px;
}
.app-logo img{
	width: 140px;	
}
ul{
	list-style-type: none;
}
.ft-4 ul a{
	color: #8a8a8a;
}
.ft-3 ul a{
	color: #8a8a8a;
}

footer hr{
	border: none;
	background:#b5b5b5;
	height:1px;
	margin:auto;
	max-width: 1300px;
	
}
footer .copyright{
	text-align:center;
	color: #8a8a8a;
}
@media(max-width: 991px){
	header{

	}
	.contact{
		padding: 50px;
	}
	.container{
		flex-direction: column;
	}
	.container .contactinfo{
		margin-bottom: 40px;
	}
	.container .contactinfo,
	.contactform
	{
		width: 100%;
	}
}